# Build directories
build/
debug/
release/
*-build-*/

# Qt-specific
*.pro.user*
*.qmake.stash
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
CMakeLists.txt.user*

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db