QFrame#controlsFrame {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #dee2e6;
}

QLabel {
    font-size: 14px;
}

QLineEdit {
    border: 1px solid #dee2e6;
    padding: 8px 12px;
    border-radius: 6px;
}

/* Chart styling */
QFrame#chartFrame {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 6px;
}